<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>

<body>
    <table style="font-family: Arial, sans-serif; width: 100%; border-collapse: collapse;">
        <tr>
            <td>Dear <%= name %>,</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                We received a request to reset your password for the App-wise E-commerce Application. 
                Below is your new temporary password:
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <strong style="font-size: 16px; color: #333;">Temporary Password:</strong>
                <span style="font-size: 16px; color: #555;"><%= password %></span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                Please log in using this password and change it immediately for security purposes.
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Thanks & Regards,</td>
        </tr>
        <tr>
            <td>App-wise E-commerce Application Team</td>
        </tr>
    </table>
</body>

</html>
